<div class="footer">
  <div class="footer_box">
    <div class="footer_part">
      <h1>CONTACT</h1>
      <h2>Klantenservice</h2>
      <h2>Veelgestelde vragen</h2>
      <h2>Over Ons</h2>
      <h2>Bootshop.nl</h2>
      <h2>Le Carrefour Dellaertweg 7F, kern 4 </h2>
      <h2>2316 WZ Leiden</h2>
    </div>
    <div class="footer_part">
      <h1>KUNNEN WE U ERGENS MEE HELPEN?</h1>
      <h2>Algemene Voorwaarden</h2>
      <h2>Privacy Policy</h2>
      <h2>Verzend Policy</h2>
      <h2>Retour Policy</h2>
      <h2>Herroepingsformulier</h2>
    </div>
    <div class="footer_part">
      <h1>SITEMAP</h1>
      <h2>Huidige deals</h2>
      <h2>Affiliates</h2>
      <h2>Vacatures</h2>
      <h2>Sitemap</h2>
    </div>
    <div class="footer_part">
      <h1>NIEUWSBRIEF</h1>
      <h2>Nooit meer een deal missen? Schrijf je in voor onze nieuwsbrief om op de hoogte te blijven van de beste aanbiedingen</h2>
      <input type="text" placeholder="E-mailadres">



    </div>
  </div>
  <hr>
  <div class="footer_box">
    <img src="/assets/paysafeseal2.png" alt="">

  </div>

</div>
