<div class="page-box">
  <div class="side-bar">
    <h1 class="cart-title">Uw winkelmanje</h1>

    <div class="above-cart">
      <h2 class="cart-header-product" >Product</h2>
      <h2 class="cart-header-total">Totaal</h2>
    </div>

    <div *ngFor="let entry of shoppingcartService.cart" class="entrybox">
      <img class="entryimg" src="{{entry.product.img}}" alt="">
      <h2 class="entry-title">{{entry.product.name}} </h2>
      <h2 class="entry-price">&euro;{{(entry.amount*entry.product.price).toFixed(2)}}</h2>
      <select #amount id="sort" class="entry-amount" (change)='shoppingcartService.changeAmountOfEntry(entry.product.id, amount.value*1)'>

        <option value="{{entry.amount}}">{{entry.amount}}</option>\
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
      </select>
    </div>
    <hr>
    <div class="pricelabelbox">
      <h2 class="pricelabeltext">Subtotaal</h2>
      <h2 class="pricelabeltext">Sleepkosten</h2>
      <h1 class="pricelabeltext total">Totaal</h1>
    </div>
    <div class="pricebox">
      <h2 class="pricetext">&euro;{{(shoppingcartService.getTotalValueOfProductsInCart())}}</h2>
      <h2 class="pricetext">&euro;199.95</h2>
      <h1 class="pricetext total">&euro;{{(shoppingcartService.getTotalValueOfProductsInCart() + this.sleepkosten)}}</h1>
    </div>
    <hr>
    <button class="addtocart order" (click)="submit_order()">Bestellen</button>
    <button class="addtocart shop">Winkel verder</button>
    <img class="paysafeseal" src="../../../assets/paysafeseal2.png" alt="">
  </div>

  <div class="banner-box">
    <div class="above-cart">
      <h2 class="cart-header-product" >Onze service</h2>
    </div>
    <img class="trust-check" src="https://cutewallpaper.org/21/swirlix-sprite/Fact-Checking-Verlisify-on-Twitter-Fact-Check-I-didnt-.jpg" alt="">
    <h2 class="trust-text">&nbsp;Veilig bestellen</h2><br>
    <img class="trust-check" src="https://cutewallpaper.org/21/swirlix-sprite/Fact-Checking-Verlisify-on-Twitter-Fact-Check-I-didnt-.jpg" alt="">
    <h2 class="trust-text">&nbsp;14 dagen retourrecht</h2><br>
    <img class="trust-check" src="https://cutewallpaper.org/21/swirlix-sprite/Fact-Checking-Verlisify-on-Twitter-Fact-Check-I-didnt-.jpg" alt="">
    <h2 class="trust-text">&nbsp;Niet-goed-geld-terug garantie</h2><br>
    <img class="trust-check" src="https://cutewallpaper.org/21/swirlix-sprite/Fact-Checking-Verlisify-on-Twitter-Fact-Check-I-didnt-.jpg" alt="">
    <h2 class="trust-text">&nbsp;Goede service</h2><br>
    <img class="trust-check" src="https://cutewallpaper.org/21/swirlix-sprite/Fact-Checking-Verlisify-on-Twitter-Fact-Check-I-didnt-.jpg" alt="">
    <h2 class="trust-text">&nbsp;Track & trace</h2><br>
    <img class="trust-check" src="https://cutewallpaper.org/21/swirlix-sprite/Fact-Checking-Verlisify-on-Twitter-Fact-Check-I-didnt-.jpg" alt="">
    <h2 class="trust-text">&nbsp;Achteraf betalen</h2><br>

    <div class="above-cart" style="margin-top: 42px">
      <h2 class="cart-header-product" >Hulp nodig?</h2>
    </div>
    <h2 class="trust-text" style="width: 100%">Tel: 06-11223344</h2>
    <h2 class="trust-text" style="width: 100%">Maandag - Vrijdag</h2>
    <h2 class="trust-text" style="width: 100%">9 - 12 uur</h2>
    <h2 class="trust-text">Kijk onder Veelgestelde vragen of neem contact op met ons Customer Care Team.</h2>
  </div>

  <div class="detail-box">
  </div>
</div>



